* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", open-sans;
  min-height: 100%;
}

body {
  margin: 0;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

#results,
#calculator {
  margin: 2rem auto;
  width: 40rem;
  max-width: 90%;
  border-radius: 10px;
  padding: 1rem;
  color: #023d6d;
  box-shadow: inset 3px 3px 6px #b8b9be, inset -3px -3px 6px #ffffff;
}

#results {
  text-align: center;
}

#calculator input {
  font: inherit;
  font-size: 3rem;
  border: none;
  box-shadow: inset 3px 3px 6px #b8b9be, inset -3px -3px 6px #ffffff;
  width: 10rem;
  padding: 0.15rem;
  margin: auto;
  display: block;
  color: #023d6d;
  text-align: center;
}

#calculator input:focus {
  outline: none;
}

#calculator button {
  font: inherit;
  background: #023d6d;
  color: white;
  border: 1px solid #023d6d;
  padding: 1rem;
  cursor: pointer;
}

#calculator button:focus {
  outline: none;
}

h1 {
  margin: 0;
}

#calculator button:hover,
#calculator button:active {
  background: #084f88;
  border-color: #084f88;
}

#calc-actions button {
  width: 4rem;
}

#calc-actions {
  margin-top: 1rem;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  width: fit-content;
}

.logo > img {
  height: 35px;
}

.logo-txt {
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  align-items: flex-start;
}

.logo-img {
  width: 2rem;
  margin-right: 3px;
}

.logo-txt h1,
.logo-txt span {
  margin: 0;
  padding: 0;
  line-height: 1;
  letter-spacing: 4px;
  color: #232323;
}

.logo-txt h1 {
  font-weight: bolder;
  font-size: 1.1rem;
  margin-top: 2px;
}

.logo-txt span {
  font-weight: lighter;
  font-size: 0.85rem;
}

.row {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.title {
  width: 100%;
  text-align: center;
}

header {
  padding: 0.7rem;
}
