* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", open-sans;
  min-height: 100%;
}

body {
  margin: 0;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

#calculator {
  margin: 2rem auto;
  width: 30rem;
  border-radius: 10px;
  padding: 4rem;
  box-shadow: 2px 3px 6px #b8b9be, inset -3px -3px 6px #e3e3e3;
}

#results {
  text-align: center;
  text-align: center;
  width: 100%;
  margin: 3rem auto 1rem;
  background: #dfdfdf;
  box-shadow: inset 0px 0px 4px #b8b9be, 0px 0px 4px #ffffff;
  padding: 4rem;
}

#calculator input {
  border-radius: 5px;
  font: inherit;
  font-size: 2.5rem;
  border: none;
  box-shadow: inset 3px 3px 6px #b8b9be, inset -3px -3px 6px #ffffff;
  width: 100%;
  padding: 0.5rem;
  color: #5c5c5c;
  text-align: right;
}

#calculator input:focus {
  outline: none;
}

#calculator button {
  font: inherit;
  background: #1f1f1f;
  color: white;
  border: 1px solid #1f1f1f;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  width: 7rem;
}

#calculator button:focus {
  outline: none;
}

h1 {
  margin: 0;
}

#calculator button:hover,
#calculator button:active {
  box-shadow: inset 0px 0px 6px #747681, inset 0px 0px 6px #747681;
  border-color: #98999e;
}

#calc-actions button {
  width: 24%;
}

#calc-actions {
  margin-top: 3rem;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  width: fit-content;
}

.logo > img {
  height: 35px;
}

.logo-txt {
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  align-items: flex-start;
}

.logo-img {
  width: 2rem;
  margin-right: 3px;
}

.logo-txt h1,
.logo-txt span {
  margin: 0;
  padding: 0;
  line-height: 1;
  letter-spacing: 4px;
  color: #232323;
}

.logo-txt h1 {
  font-weight: bolder;
  font-size: 1.1rem;
  margin-top: 2px;
}

.logo-txt span {
  font-weight: lighter;
  font-size: 0.85rem;
}

.row {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.title {
  width: 100%;
  text-align: center;
  color: #818181;
  font-size: 1.3rem;
  text-shadow: 1px 1px 2px #b4b4b44d;
}

header {
  padding: 0.7rem;
}
